*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    height: 10000px;
} */
/* Header start */
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    transition: 0.5s ease;
    z-index: 1;
} 
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header .logo{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
header.sticky .logo{
    color: #111;
}
header .nav_ul{
    position: relative;
    display: flex;
}
header .nav_ul li{
    list-style: none;
    margin-left: 20px;
}
header .nav_ul li a{
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition:0.3s ease ;
}
header .nav_ul li a:hover{
color: darkgoldenrod;
}
header.sticky .nav_ul li a{
    color: #111;
}
header.sticky .nav_ul li a:hover{
    color: darkorange;
}

 /* Banner Section start  */
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/Pizza_banner.jpg);
    background-size: cover;
}
.banner .container{
text-align: center;
width: 900px;
}
.banner .container h2{
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}
.banner .container p{
    font-size: 20px;
    color: #fff;
}
.btn{
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    background: darkorange;
    transition: 0.3s;
    padding: 10px 20px;
}
.btn:hover{
    scale: 1.2;
}

/* About Us Start */

section{
    padding: 100px;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.row .slid{
    width: 50%;
    padding: 0px 20px;
}
.row .slid p{
    font-size: 20px;
    line-height: 50px;
}
.h_text{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.row .slid .imagebox{
    width: 100%;
    height: 100%;
}
.row .slid .imagebox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Menu Section Start */
.title{
    width: 100%;
    text-align: center;
}
.menu .container{
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 40px;
}
.menu .container .box{
    width: 450px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0,0, 0.8);
}
.menu .container .box .imagebox{
position: relative;
width: 100%;
height:300px;
overflow: hidden;

}
.menu .container .box .imagebox img{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
cursor: pointer;
transition: 0.5s ease;
}
.menu .container .box .imagebox img:hover{
    transform: scale(1.1) rotate(5deg);
}
/* Staff Section Start */
.staff{
    background: #efefef;
}
.staff .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    
}
.staff .container .box{
    width: 250px;
    margin: 15px;
}
.staff .container .box .imagebox{
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.staff .container .box .imagebox img{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
transition: 0.5s ease;
}
.staff .container .box .imagebox img:hover{
 transform: scale(1.1);

}

/* Testimonials Section Start */

.Testimonials{
background: url(/images/testimonials_bg.jpg);
background-size: cover;
}
.Testimonials .title .h_text,
.Testimonials .title p{
color: #fff;
}
.Testimonials .container{
     display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 40px;
}

.Testimonials .container .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Testimonials .container .box .imagebox{
position: relative;
width: 80px;
height:80px;
overflow: hidden;
border-radius: 50%;

}
.Testimonials .container .imagebox img{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;

}
.Testimonials .container .box .text{
padding: 20px;
text-align: center;
}
.Testimonials .container .box .text p{
    color:#666 ;
    font-style: italic;
}
.Testimonials .container .box .text h3{
    font-size: 20px;
    font-weight: 600;
    color: darkorange;
    margin-top: 20px;
}
 /* Contact Us  */
.contact{
    background: url(/images/contact_bg.jpg);
    background-size: cover;
}
.contact_form{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin-bottom: 50px;
}

.contact_form h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.contact_form .inputBox{
    width: 100%;
    margin-bottom: 20px;
}
.contact_form .inputBox input,
.contact_form .inputBox textarea{
     width: 100%;
     padding: 10px;
     font-size: 16px;
     font-weight: 300;
     border: none;
     outline: none;
     border-bottom: 1px solid #111;
     resize: none;
}
.contact_form .inputBox input[type="submit"]{
    background: darkorange;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    border: none;
    width: 100px;
    padding: 10px 20px;
    transition: 0.3s ease;
}
.contact_form .inputBox input[type="submit"]:hover{
transform: scale(1.1);
}
/* footet Start */

.foorer_container{
    padding: 50px 0px;
    background: #222;
    color: #fff;
    display: flex;
    justify-content: center;
}
.foorer_container .box{
width: 300px;
padding: 0px 20px;
}
.foorer_container .box h3{
font-size: 20px;
margin-bottom: 20px;
} 
.foorer_container .box i{
    font-size: 25px;
color: darkorange;
margin-left: 10px;
transition: 0.3s ease;
}
.foorer_container .box i:hover{
transform: scale(1.7);
color: #fff;
}
.credit{
    background: #111;
    padding: 20px 0px;
    color: #fff;
    text-align: center;
}
.credit a{
    color: darkorange;
    text-decoration: none;
}